.logo-image {
    position: relative; left: 20px; top: -50px;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    position: relative; bottom: 135px;
}
ul > li {
    margin: 25px;
    position: relative; left: -20px; top: -50px;
    font-family: 'Anton', sans-serif;
}
a {
    text-decoration: none;
    color: black;
    transition: 0.2s;
}
a:hover {
    transition: 0.2s;
    color: #5875b2;
}